*{box-sizing: border-box;
  /*margin:0;
  padding: 0;*/
}
body{
  font-family:cursive;
}
.main{
  text-align:center;
  padding: 20px;
}
div {

  margin-right: 20px;
  position: relative;
  overflow: hidden;
  height: 200px;
}
p{
  position: relative;
  padding: 10px;
}
.box{
  background-color: gray;
  border:1px solid black;


  margin: 20px;
  overflow: hidden;

}
.head{
  border:1px solid black;
  float:right;
  margin:0;
  width:40%;
  height:50px;
  text-align: center;
  font-size: 175%;
  padding:0;
}
.content{
  clear:left;
  margin:60px 20px 20px 20px;
  font-size: 125%;
}
#head1{
  background-color: pink
}
#head2{
  background-color: green;
}

#head3{
  background-color: yellow;
}

/*large device*/
@media (min-width:1234px){
  .lg{
    float: left;
    width: 30%;
    height:250px;
  }

}
@media(min-width: 768px) and (max-width:1233px){
  .md1{
    float: left;
    width:40%;
    height:250px;
  }
  .md3{
    float:left;
    width:85%;
    height:250px;
  }
}
}

/*small device*/
@media(max-width: 767px){
  .mn{
    float: left;
    width:80%;

  }
}
